.manager-clinic-container{
    padding: 0 15px;


    .ms-title{
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        color: #0071ba;

    }
    .all-new-clinic{

        .btn-save{
               min-width: 75px;
               margin-top: 5px;
        }
    }
}